body{
    /*background: antiquewhite;*/
}
.ui.header.title{
    margin: 5px 0 0 15px;
}
.ui.button.reset {
    margin-right: 15px;
}
.entree-word{

}
.ui.mode{
    border-radius: 1rem;
    margin: -7px 10px 5px 0;
    padding-bottom: 6px;
    padding-top: 6px;
}
.ui.mode input{

 }
.ui.mode label{
    margin-right: 5px;
}
.ui.button {
    border-radius: 1rem;
}
.ui.button.letter{
    margin:  10px 5px;
    padding: 8px 15px 10px;
    font-family: "Book Antiqua";
    font-min-size: 24px;
    font-size: 24px;
    background: #9ca4ad;
    color: black;
    min-height: 42px;
    min-width: 50px;

}
.ui.button.letter:hover{
    background-color: #cacbcd;
}
.search-bar{
    background: antiquewhite;
}
.trash button.ui.button {
    /*max-width: 20px;*/
}
.trash button.ui.button i{
    width: 0;
    padding: 0;
    margin: 0;


}
button.ui.button.searchWord{
    margin: 10px;
}
